target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


## grpc auto generate
wechat-interface/src/main/java/com/hualala/app/wechat/grpc
/service/src/test/java/com/hualala/app/wechat/hash/

