<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hualala.app.wechat.mapper.card.AdvancedModelMapper" >
  <resultMap id="BaseResultMap" type="com.hualala.app.wechat.model.card.AdvancedModel" >
    <id column="cardKey" property="cardKey" jdbcType="BIGINT" />
    <result column="abstractInfo" property="abstractInfo" jdbcType="VARCHAR" />
    <result column="businessService" property="businessService" jdbcType="VARCHAR" />
    <result column="textImage" property="textImage" jdbcType="VARCHAR" />
    <result column="timeLimit" property="timeLimit" jdbcType="VARCHAR" />
    <result column="useCodition" property="useCodition" jdbcType="VARCHAR" />
    <result column="action" property="action" jdbcType="TINYINT" />
    <result column="actionStamp" property="actionStamp" jdbcType="TIMESTAMP" />
    <result column="createStamp" property="createStamp" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    <if test="fields == null" >
      cardKey, abstractInfo, businessService, textImage, timeLimit, useCodition, action, 
      actionStamp, createStamp
    </if>
    <if test="fields != null" >
      ${fields}
    </if>
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hualala.app.wechat.model.card.AdvancedModelQuery" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tbl_shop_wechat_card_advanced
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="startRow != null" >
      limit #{startRow} , #{pageSize}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    cardKey,abstractInfo,businessService,textImage,timeLimit,useCodition,action,actionStamp,createStamp
    from tbl_shop_wechat_card_advanced
    where cardKey = #{cardKey,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from tbl_shop_wechat_card_advanced
    where cardKey = #{cardKey,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.hualala.app.wechat.model.card.AdvancedModelQuery" >
    delete from tbl_shop_wechat_card_advanced
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hualala.app.wechat.model.card.AdvancedModel" >
    insert into tbl_shop_wechat_card_advanced (cardKey, abstractInfo, businessService, 
      textImage, timeLimit, useCodition, 
      action, actionStamp, createStamp
      )
    values (#{cardKey,jdbcType=BIGINT}, #{abstractInfo,jdbcType=VARCHAR}, #{businessService,jdbcType=VARCHAR}, 
      #{textImage,jdbcType=VARCHAR}, #{timeLimit,jdbcType=VARCHAR}, #{useCodition,jdbcType=VARCHAR}, 
      #{action,jdbcType=TINYINT}, #{actionStamp,jdbcType=TIMESTAMP}, #{createStamp,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hualala.app.wechat.model.card.AdvancedModel" >
    insert into tbl_shop_wechat_card_advanced
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cardKey != null" >
        cardKey,
      </if>
      <if test="abstractInfo != null" >
        abstractInfo,
      </if>
      <if test="businessService != null" >
        businessService,
      </if>
      <if test="textImage != null" >
        textImage,
      </if>
      <if test="timeLimit != null" >
        timeLimit,
      </if>
      <if test="useCodition != null" >
        useCodition,
      </if>
      <if test="action != null" >
        action,
      </if>
      <if test="actionStamp != null" >
        actionStamp,
      </if>
      <if test="createStamp != null" >
        createStamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cardKey != null" >
        #{cardKey,jdbcType=BIGINT},
      </if>
      <if test="abstractInfo != null" >
        #{abstractInfo,jdbcType=VARCHAR},
      </if>
      <if test="businessService != null" >
        #{businessService,jdbcType=VARCHAR},
      </if>
      <if test="textImage != null" >
        #{textImage,jdbcType=VARCHAR},
      </if>
      <if test="timeLimit != null" >
        #{timeLimit,jdbcType=VARCHAR},
      </if>
      <if test="useCodition != null" >
        #{useCodition,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        #{action,jdbcType=TINYINT},
      </if>
      <if test="actionStamp != null" >
        #{actionStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="createStamp != null" >
        #{createStamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hualala.app.wechat.model.card.AdvancedModelQuery" resultType="java.lang.Integer" >
    select count(*) from tbl_shop_wechat_card_advanced
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tbl_shop_wechat_card_advanced
    <set >
      <if test="record.cardKey != null" >
        cardKey = #{record.cardKey,jdbcType=BIGINT},
      </if>
      <if test="record.abstractInfo != null" >
        abstractInfo = #{record.abstractInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.businessService != null" >
        businessService = #{record.businessService,jdbcType=VARCHAR},
      </if>
      <if test="record.textImage != null" >
        textImage = #{record.textImage,jdbcType=VARCHAR},
      </if>
      <if test="record.timeLimit != null" >
        timeLimit = #{record.timeLimit,jdbcType=VARCHAR},
      </if>
      <if test="record.useCodition != null" >
        useCodition = #{record.useCodition,jdbcType=VARCHAR},
      </if>
      <if test="record.action != null" >
        action = #{record.action,jdbcType=TINYINT},
      </if>
      <if test="record.actionStamp != null" >
        actionStamp = #{record.actionStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createStamp != null" >
        createStamp = #{record.createStamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tbl_shop_wechat_card_advanced
    set cardKey = #{record.cardKey,jdbcType=BIGINT},
      abstractInfo = #{record.abstractInfo,jdbcType=VARCHAR},
      businessService = #{record.businessService,jdbcType=VARCHAR},
      textImage = #{record.textImage,jdbcType=VARCHAR},
      timeLimit = #{record.timeLimit,jdbcType=VARCHAR},
      useCodition = #{record.useCodition,jdbcType=VARCHAR},
      action = #{record.action,jdbcType=TINYINT},
      actionStamp = #{record.actionStamp,jdbcType=TIMESTAMP},
      createStamp = #{record.createStamp,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hualala.app.wechat.model.card.AdvancedModel" >
    update tbl_shop_wechat_card_advanced
    <set >
      <if test="abstractInfo != null" >
        abstractInfo = #{abstractInfo,jdbcType=VARCHAR},
      </if>
      <if test="businessService != null" >
        businessService = #{businessService,jdbcType=VARCHAR},
      </if>
      <if test="textImage != null" >
        textImage = #{textImage,jdbcType=VARCHAR},
      </if>
      <if test="timeLimit != null" >
        timeLimit = #{timeLimit,jdbcType=VARCHAR},
      </if>
      <if test="useCodition != null" >
        useCodition = #{useCodition,jdbcType=VARCHAR},
      </if>
      <if test="action != null" >
        action = #{action,jdbcType=TINYINT},
      </if>
      <if test="actionStamp != null" >
        actionStamp = #{actionStamp,jdbcType=TIMESTAMP},
      </if>
      <if test="createStamp != null" >
        createStamp = #{createStamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where cardKey = #{cardKey,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hualala.app.wechat.model.card.AdvancedModel" >
    update tbl_shop_wechat_card_advanced
    set abstractInfo = #{abstractInfo,jdbcType=VARCHAR},
      businessService = #{businessService,jdbcType=VARCHAR},
      textImage = #{textImage,jdbcType=VARCHAR},
      timeLimit = #{timeLimit,jdbcType=VARCHAR},
      useCodition = #{useCodition,jdbcType=VARCHAR},
      action = #{action,jdbcType=TINYINT},
      actionStamp = #{actionStamp,jdbcType=TIMESTAMP},
      createStamp = #{createStamp,jdbcType=TIMESTAMP}
    where cardKey = #{cardKey,jdbcType=BIGINT}
  </update>
</mapper>