<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hualala.app.wechat.mapper.WechatUserMapper">
	<insert id="insert" parameterType="com.hualala.app.wechat.model.WechatUserModel">
		insert into tbl_shop_wechat_user (
			<if test="itemID !=null">itemID,</if>
			<if test="mpID !=null">mpID,</if>
			<if test="userID !=null">userID,</if>
			<if test="userLoginName !=null">userLoginName,</if>
			<if test="openid !=null">openid,</if>
			<if test="nickname !=null">nickname,</if>
			<if test="userNickName !=null">userNickName,</if>
			<if test="sex !=null">sex,</if>
			<if test="province !=null">province,</if>
			<if test="city !=null">city,</if>
			<if test="country !=null">country,</if>
			<if test="headimgurl !=null">headimgurl,</if>
			<if test="photoImage !=null">photoImage,</if>
			<if test="isSubscribe !=null">isSubscribe,</if>
        action, #{createTime}
		) values (
			<if test="itemID !=null">#{itemID},</if>
			<if test="mpID !=null">#{mpID},</if>
			<if test="userID !=null">#{userID},</if>
			<if test="userLoginName !=null">#{userLoginName},</if>
			<if test="openid !=null">#{openid},</if>
			<if test="nickname !=null">#{nickname},</if>
			<if test="userNickName !=null">#{userNickName},</if>
			<if test="sex !=null">#{sex},</if>
			<if test="province !=null">#{province},</if>
			<if test="city !=null">#{city},</if>
			<if test="country !=null">#{country},</if>
			<if test="headimgurl !=null">#{headimgurl},</if>
			<if test="photoImage !=null">#{photoImage},</if>
			<if test="isSubscribe !=null">#{isSubscribe},</if>
        #{action}, #{createTime}
		)
	</insert>

	<select id="queryCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(1) from tbl_shop_wechat_user
    </select>

	<select id="queryList" resultType="com.hualala.app.wechat.model.WechatUserModel" parameterType="java.util.Map">
    select
    <include refid="queryField"/>
    from tbl_shop_wechat_user
    limit #{offset}, #{pageSize}
    </select>

	<select id="queryOpenID" resultType="java.lang.String" >
		SELECT openID
		FROM tbl_shop_wechat_user
		WHERE
		action in (0,1)
		and mpID = #{mpID}
		and userID = #{userID}
		<if test="isSubscribe != null">
			and isSubscribe = #{isSubscribe}
		</if>

	</select>
	<select id="queryCheckOpenID" resultType="java.lang.Integer">
		SELECT count(1)
		FROM tbl_shop_wechat_user
		WHERE
		action in (0,1)
		and mpID = #{mpID}
		and openID = #{openID}
		<if test="isSubscribe != null">
			and isSubscribe = #{isSubscribe}
		</if>
	</select>


	<sql id="queryField">
        itemID,        mpID,        userID,        userLoginName,        openid,        nickname,        userNickName,        sex,        province,        city,        country,        headimgurl,        photoImage,        isSubscribe
    </sql>
</mapper>
