<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hualala.app.wechat.mapper.WechatMemberInfoMapper">
	<insert id="insert" parameterType="com.hualala.app.wechat.model.WechatMemberInfoModel">
		insert into tbl_shop_wechat_member_info (
			<if test="appID !=null">appID,</if>
			<if test="errcode !=null">errcode,</if>
			<if test="cardID !=null">cardID,</if>
			<if test="code !=null">code,</if>
			<if test="wechatJson !=null">wechatJson</if>
		) values (
			<if test="appID !=null">#{appID},</if>
			<if test="errcode !=null">#{errcode},</if>
			<if test="cardID !=null">#{cardID},</if>
			<if test="code !=null">#{code},</if>
			<if test="wechatJson !=null">#{wechatJson}</if>
		)
	</insert>

	<select id="queryCount" resultType="java.lang.Integer">
    select count(1) from tbl_shop_wechat_member_info
    </select>

	<select id="queryList" resultType="com.hualala.app.wechat.model.WechatMemberInfoModel" parameterType="java.util.Map">
    select
    <include refid="queryField"/>
    from tbl_shop_wechat_member_info
    limit #{offset}, #{pageSize}
    </select>

    <sql id="queryField">
        id,        appID,        errcode,        cardID,        code,        wechatJson
    </sql>
</mapper>
