<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hualala.app.wechat.mapper.WechatQrcodeMapper">
	<insert id="insert" parameterType="com.hualala.app.wechat.model.WechatQrcodeModel">
		insert into tbl_shop_wechat_qrcode (
			<if test="itemID !=null">itemID,</if>
			<if test="mpID !=null">mpID,</if>
			<if test="qrcodeType !=null">qrcodeType,</if>
			<if test="sceneID !=null">sceneID,</if>
			<if test="qrcodeName !=null">qrcodeName,</if>
			<if test="description !=null">description,</if>
			<if test="param1 !=null">param1,</if>
			<if test="param2 !=null">param2,</if>
			<if test="param3 !=null">param3,</if>
			<if test="locationName !=null">locationName,</if>
			<if test="shopID !=null">shopID,</if>
			<if test="ticket !=null">ticket,</if>
			<if test="wxUrl !=null">wxUrl,</if>
			<if test="qrcodeIP !=null">qrcodeIP,</if>
			<if test="isLog !=null">isLog,</if>
			<if test="isActive !=null">isActive,</if>
        action, #{createStamp}
		) values (
			<if test="itemID !=null">#{itemID},</if>
			<if test="mpID !=null">#{mpID},</if>
			<if test="qrcodeType !=null">#{qrcodeType},</if>
			<if test="sceneID !=null">#{sceneID},</if>
			<if test="qrcodeName !=null">#{qrcodeName},</if>
			<if test="description !=null">#{description},</if>
			<if test="param1 !=null">#{param1},</if>
			<if test="param2 !=null">#{param2},</if>
			<if test="param3 !=null">#{param3},</if>
			<if test="locationName !=null">#{locationName},</if>
			<if test="shopID !=null">#{shopID},</if>
			<if test="ticket !=null">#{ticket},</if>
			<if test="wxUrl !=null">#{wxUrl},</if>
			<if test="qrcodeIP !=null">#{qrcodeIP},</if>
			<if test="isLog !=null">#{isLog},</if>
			<if test="isActive !=null">#{isActive},</if>
        #{action}, #{createStamp}
		)
	</insert>

	<select id="queryCount" resultType="java.lang.Integer" parameterType="java.util.Map">
    select count(1) from tbl_shop_wechat_qrcode
    </select>

	<select id="queryList" resultType="com.hualala.app.wechat.model.WechatQrcodeModel" parameterType="java.util.Map">
    select
    <include refid="queryField"/>
    from tbl_shop_wechat_qrcode
    limit #{offset}, #{pageSize}
    </select>

    <sql id="queryField">
        itemID,        mpID,        qrcodeType,        sceneID,        qrcodeName,        description,        param1,        param2,        param3,        locationName,        shopID,        ticket,        wxUrl,        qrcodeIP,        isLog,        isActive
    </sql>
</mapper>
